.about-container {
  text-align: center;
  overflow:auto;
  opacity: 0.9;
  padding: 20px;
  font-size: 1.3rem;
  margin: 70px 15% 0 15%;
  height: 85vh;
  background-color: rgb(89, 164, 225);
  border-radius: 25px;
  z-index: 1;
}
.text {
  margin: 10px 10px;
}
.about-container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 840px) {
  .about-container{
    margin: 20px 15% 0 15%;
  }
}